body {
    background-color: rgba(37, 37, 37, 0.966);
  }
  h1 {
    color: whitesmoke;
    text-align: center;
    background-position: center;
    align-content: center;
  }
  p {
    color: white;
    background-color: rgba(20, 20, 20, 0.966);
  }